<div class="container-fluid">
    <div class="panel panel-default" >
      <table id="all_proj_table" class="table-dark table-striped" >
      <!-- <table class="table" > -->
        <thead>
          <tr id="all_proj_head">
            <th class="name_header">Org Name</th>
            <th class="field_header">Specialist</th>
            <th class="field_header">Account Exec.</th>
            <th class="field_header">Employees</th>
            <th class="field_header">Progresss</th>
            <th class="field_header">Go Live Date</th>
          </tr>
        </thead>
        <tbody>
        <tr id="proj_data" ng-repeat="project in projects | orderBy:'custom.go_live'">
          <th class="table_name">{{ project.name }}</th>
          <th class="table_center">{{ project.owner}}</th>
          <th class="table_center">{{ project.custom.account_executive}}</th>
          <th class="table_center">{{ project.custom.employees }}</th>
          
          <th>
          <div class="progress">
          <div class="progress-bar" role="progressbar" 
            ng-style="{'width': getWidth(project)}"
            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">{{ project.progress }}%</div>
          </div>
          </th>
        <th class="table_center">{{ project.custom.go_live}}</th>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- DATA TABLES! -->