<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 ">
      <div class="panel-heading">
        <h1 class="panel-title" id="db-panel-title">Next Five Going Live</h>
      </div>
      <div class="panel panel-default" >
        <table class="table-dark table-striped" >
          
          
          <!-- <thead>
            <tr id="top_five_proj_head">
              <th class="name_header">Org Name</th>
              <th class="field_header">Specialist</th>
              <th class="field_header">Account Exec.</th>
              <th class="field_header emp">Employees</th>
              <th class="field_header">Go Live Date</th>
            </tr>
          </thead> -->

          
          <tbody>
            <tr id="proj_data" ng-repeat="project in projects | orderBy:'custom.go_live' | limitTo:5">
              <th class="top_tab table_name">{{ project.name }}</th>
              <th class="top_tab table-center">{{ project.owner}}</th>
              <th class="top_tab table-center">{{ project.custom.account_executive}}</th>
              <th class="top_tab table-center">{{ project.custom.employees }}</th>
              <th class="top_tab table-center live">{{ project.custom.go_live}}</th>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
      <!-- <div class="test col-sm-1">Tiny Boye</div> -->
      <div class="col-sm-4 ">
          <div class="panel-heading">
              <h1 class="panel-title" id="db-panel-title">Team Stats</h>
            </div>
            <div class="panel panel-default" >
              <table id="top_five_proj_table stat-table" class="table-dark table-striped" >
                <thead id="stats_head">
                  <!-- <tr id="stats_head"> -->
                    <!-- <th class="name_header"></th>
                    <th class="field_header"></th>
                    <th class="field_header"></th>
                    <th class="field_header emp"></th>
                    <th class="field_header"></th> -->
                  <!-- </tr> -->
                </thead>
                <tbody>
                  <tr id="proj_data" ng-repeat="project in projects | orderBy:'-custom.go_live' | limitTo:5">
                    <th class="top_tab table_name" id="stat-name">Dummy Row</th>
                    <th class="top_tab table_center-s">{{ project.owner}}</th>
                    <th class="top_tab table_center-s">{{ project.custom.account_executive}}</th>
                    <th class="top_tab table_center-s">{{ project.custom.employees }}</th>
                    <th class="top_tab table_center-s">{{ project.custom.go_live}}</th>
                  </tr>
                </tbody>
              </table>
            </div>


      </div>
    </div>
    <div class="row justify-content-md-center">
    <h1 class="problem"> Specialists</h1>

    <!-- TURN THIS INTO NG-REPEAT -->

    <div class="test col col-sm-2 spec-card"> <!-- col-md-offset-1 -->
      <h3>Specialist 1</h3>
        <img class="headshot" src="../assets/batman.jpg">
        <p class="stat-title" id="spec-stat">Imp. in Progress:</p>
        <p class="stat-title" id="spec-stat">Imp. on Hold:</p>
        <p class="stat-title" id="spec-stat">Average Imp. Completion:</p>
        <p class="stat-title" id="spec-stat">Overall Imp. Completion:</p>
        <p class="stat-title" id="spec-stat">Next Go-live:</p>
    </div>

    <!-- DELETE START HERE! Can delete once ng-repeat is built -->

    <div class="test col col-sm-2 spec-card">
      <h3>Specialist 2</h3>
        <img class="headshot" src="../assets/batman.jpg">
        <p class="stat-title" id="spec-stat">Imp. in Progress:</p>
        <p class="stat-title" id="spec-stat">Imp. on Hold:</p>
        <p class="stat-title" id="spec-stat">Average Imp. Completion:</p>
        <p class="stat-title" id="spec-stat">Overall Imp. Completion:</p>
        <p class="stat-title" id="spec-stat">Next Go-live:</p>
    </div>
    <div class="test col col-sm-2 spec-card">
        <h3>Specialist 3</h3>
        <img class="headshot" src="../assets/batman.jpg">
        <p class="stat-title" id="spec-stat">Imp. in Progress:</p>
        <p class="stat-title" id="spec-stat">Imp. on Hold:</p>
        <p class="stat-title" id="spec-stat">Average Imp. Completion:</p>
        <p class="stat-title" id="spec-stat">Overall Imp. Completion:</p>
        <p class="stat-title" id="spec-stat">Next Go-live:</p>
    </div>
    <div class="test col col-sm-2 spec-card">
        <h3>Specialist 4</h3>
        <img class="headshot" src="../assets/batman.jpg">
        <p class="stat-title" id="spec-stat">Imp. in Progress:</p>
        <p class="stat-title" id="spec-stat">Imp. on Hold:</p>
        <p class="stat-title" id="spec-stat">Average Imp. Completion:</p>
        <p class="stat-title" id="spec-stat">Overall Imp. Completion:</p>
        <p class="stat-title" id="spec-stat">Next Go-live:</p>
    </div>
    <div class="test col col-sm-2 spec-card">
      <h3>Specialist 5</h3>
        <img class="headshot" src="../assets/batman.jpg">
        <p class="stat-title" id="spec-stat">Imp. in Progress:</p>
        <p class="stat-title" id="spec-stat">Imp. on Hold:</p>
        <p class="stat-title" id="spec-stat">Average Imp. Completion:</p>
        <p class="stat-title" id="spec-stat">Overall Imp. Completion:</p>
        <p class="stat-title" id="spec-stat">Next Go-live:</p>
    </div>

    <!-- STOP DELETING HERE YO -->


  </div> <!-- Don't Delete this-->

</div>
</div>



      