<div class="container-fluid">
  <div class="panel panel-default" ng-repeat="project in projects | orderBy:'-progress_val'">
    
      <div class="panel-body row ">
        <div class="col-sm-3">
          <h4 class=proj_title>{{ project.name }}</h4>
        </div>
        <div class="col-sm-3">  
          <!-- <span class="badge"> Specialist: {{ project.owner }}</span>
          <span class="badge"> Account Exec : {{ project.custom.account_executive }}</span> -->

          <div class="owner">IS: {{ project.owner }}</div>
          <div class="owner">AE : {{ project.custom.account_executive }}</div>

        </div>
        <div class="col-sm-2">
          <!-- <div class="row"><strong>Start Date: </strong> {{ project.startDate}}</div> -->
          <div class="row panel-text"><strong>Go-Live:
            </strong> {{ project.custom.go_live }}</div>
        </div>
        <div class="progress col-sm-2">
            <div class="progress-bar" role="progressbar" 
            ng-style="{'width': getWidth(project)}"
            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">{{ project.progress }}%</div>
        </div>
      </div>
    
    </div>
  </div>


  <!-- [ngStyle]="{'width': project.progress}" -->
  