/* BODY */
body {
  background-color: #191A1D;
}

/* NAVBAR */
.navbar {
background-color: #262626;
color: gray;
height: 70px;
margin-top: auto;
font-size: 18px;
margin-bottom: 0px;
}
.rise-logo {
  height: 68px;
  padding-bottom: 20px;
}
.navbar-brand {
  line-height: 37px;
  font-size: 28px;
}
.nav-title{
  font-size: 35px;
  margin-top: 13px;
}
.navbar-nav li a {
  line-height: 37px;
}

/* PANELS */

.panel{
  font-family: 'Roboto', sans-serif;
  background-color: #262626;
  color: darkgrey; 
  border: none;
}
.panel-heading{
  text-align: center;
  font-size: 26px;
  padding-bottom: 0px;
  /* margin: 0; */
}
.panel-title{
  color: darkgrey;
  font-size: 30px;
  background: #222222;
  margin: 0px -14px;
  line-height: 40px;
  }
/*  

/* ALL PROJECTS TABLE */

table{
  padding-top: 100px;
}
thead {
  margin-top: 100px;
  height: 30px;
  font-size: 20px;
  text-align: center; 
}
.name_header{
  width: 400px;
  text-align: center;
  height: 50px;
  font-weight: bold;
}
.field_header{
  width: 300px;
  text-align: center;
}

.progress{
  margin-top: 18px;
  width: 32.5%;
  height: 20px;
  padding: 0;
  background-color: #ffdb58;
}
.progress{
  width: 400px;
}
#proj-data{
  padding-left: 20px;
  width: 400px;
}
.top_tab {
  height: 30px;
}
.table_name{
  padding-left: 20px;
  padding-right: 5px;
  width: 400px;
}

#stat-name{
  width: 300px;
}

.table-center{
  text-align: center;
  width: 150px;
}
.table_center_s {
  width:310px;
  text-align: right;
}
.stat-table{
  width:605px;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #3d3c3c;
}

#stats_head {
  height: 0px;
}

#db-panel-title{
  font-size: 18px;
  height: 40px;
  vertical-align: middle;
}
.problem{
  color: darkgray;
  text-align: center;
  margin-top: 5px;
  font-size: 20px;
}
.spec-card{
  text-align: center;
  color: darkgrey;
  height: 250px;
  background: #262626;
  margin-right: 10px;
}
.headshot{
  height: 55px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-left: 20px;
}
.first_col{
  margin-left: 90px;
}
.stat-title{
  text-align: left;
}
h3{
  margin-top: 5px;
  height: 50px;
  font-size: 18px;
}