/* BODY */
body {
  background-color: #191A1D;
}

/* NAVBAR */
.navbar {
/* background-color: #191A1D; */
background-color: #262626;
color: gray;
height: 70px;
margin-top: auto;
font-size: 18px;
}
.rise-logo {
  height: 68px;
  padding-bottom: 20px;
}
.navbar-brand {
  line-height: 37px;
  font-size: 28px;
}
.nav-title{
  font-size: 35px;
  margin-top: 13px;
}
.navbar-nav li a {
  line-height: 37px;
}

/* PANELS */

.panel{
  font-family: 'Roboto', sans-serif;
  background-color: #262626;
  color: darkgrey; 
  border: none;
  /* padding: 10px; */
}
.panel-heading{
  text-align: center;
  font-size: 26px;
  padding-bottom: 0px;
  margin: 0;
}
#panel-head {
  background-color: #262626;
  color: darkgray;
  border-bottom: none;
}
.panel-title{
  color: darkgrey;
  font-size: 30px;
  background: #222222;
  width: 102.5%;
  margin: 0px -14px;
  line-height: 50px;
  }
  #top_five_panel{
    width: 60%;
  }
  #top_five_panel .progress{
    width: 95%;
    margin-left: 5px;
  }
  #top_five_panel .emp {
    width: 110px;
  }
  #top_five_panel .live{
    width: 160px;
  }
#top_five_heading{
  width: 60%;
  margin: 0
}

/* ALL PROJECTS TABLE */

table{
  padding-top: 100px;
}
thead {
  margin-top: 100px;
  height: 30px;
  font-size: 20px;
  text-align: center; 
}
.name_header{
  width: 400px;
  text-align: center;
  height: 50px;
  font-weight: bold;
}
.field_header{
  width: 300px;
  text-align: center;
}
.table_center{
  text-align: center;
}
.progress{
  margin-top: 18px;
  width: 32.5%;
  height: 20px;
  padding: 0;
  background-color: #ffdb58;
}
.progress{
  width: 400px;
}
#proj-data{
  padding-left: 20px;
}
.table_name{
  padding-left: 20px;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #3d3c3c;
}


